.home-container {
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url('/images/background-cities/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

h1 {
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    font-weight: semibold;
    font-size: 50px;
}

p {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  font-weight: semibold;
  font-size: 20px;
}

form {
  position: relative;
}

input {
  border: none;
  background: transparent;
  font-size: 1rem;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
}

.action-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
}