
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;
@use './styles/animations';

@import "tailwindcss";


html {
  @include mat.theme((
    color: (
      primary:   mat.$violet-palette,
      secondary: mat.$cyan-palette,
      tertiary:  mat.$chartreuse-palette,
      error:     mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  color: #1a1c18;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background: map.get(mat.$cyan-palette, neutral-variant, 98);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #1a1c18;
}

.subtitle, .secondary-text, label {
  color: #3f4948;
}

a, .link {
  color: #005cbb;
  text-decoration: none;
}

a:hover {
  color: #7d00fa;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.0125em;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  padding: 0.8rem 1.2rem;
}

.mdc-label {
  color: #fff !important;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.mat-mdc-radio-button:not(.mat-mdc-radio-checked) .mdc-radio__outer-circle {
  border-color: #fff !important;
}

.btn-large {
  padding: 2rem 5rem !important;
  font-size: 16px !important;
}